/*
!/.gitignore

!/apps
/apps/*
!/apps/centrilnas-extra-https.conf
!/apps/centrilnas-extra-http.conf

!/opt
/opt/*
!/opt/centrilnas

!/etc
/etc/*
!/etc/profile
!/etc/bash.bashrc
!/etc/screenrc
!/etc/tmux.conf

!/etc/ssh
/etc/ssh/*
!/etc/ssh/sshd_config

!/etc/sshguard
/etc/sshguard/*
!/etc/sshguard/whitelist

!/etc/apache2
/etc/apache2/*
!/etc/apache2/sites-available
/etc/apache2/sites-available/*
!/etc/apache2/sites-available/fv-https
!/etc/apache2/sites-available/fv-http

!/home
/home/*
!/home/centril
/home/centril/*
!/home/centril/.bashrc

!/home/centril/.weechat
/home/centril/**/*.log
/home/centril/.weechat/logs
/home/centril/.weechat/sec.conf
