/*
!/.gitignore

!/apps
/apps/*
!/apps/centrilnas-extra-https.conf

!/opt
/opt/*
!/opt/centrilnas

!/etc
/etc/*
!/etc/profile
!/etc/bash.bashrc

!/etc/apache2
/etc/apache2/*
!/etc/apache2/sites-available
/etc/apache2/sites-available/*
!/etc/apache2/sites-available/fv-https

!/home
/home/*
!/home/centril
/home/centril/*
!/home/centril/.bashrc

!/home/centril/.weechat
/home/centril/.weechat/sec.conf